/src/vendor
/src/node_modules
.idea/
/src/.phpunit.result.cache
/src/storage/*.key
/src/storage/logs/*
/src/storage/framework/*
/src/bootstrap/cache/*
/src/public/build
/src/public/hot
/src/public/storage
/src/storage/pail
.phpactor.json
.phpunit.result.cache
.fleet/
.nova/
.phpunit.cache/
.vscode/
.zed/
auth.json/
